<% provide(:title, "Edit profile") %>
<h1 class="page-header">Update Your Profile</h1>
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
  
        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
  <% end %>
  
  <div class="container" >
    <div class="row">
      <!-- left column -->
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="text-center">
          <%= gravatar_for @user %>
          <h4><%= @user.name %></h4>
          <hr>
          <a href="http://gravatar.com/emails" target="_blank"><h5>Change your gravatar...</h5></a>
        </div>
      </div>
      <!-- edit form column -->
      <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
        
        <h3>Personal info</h3>
        <br>
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <%= f.label :first_name, class: "col-lg-3 control-label" %>
            <div class="col-lg-8">
              <%= f.text_field :firstname, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :last_name, class: "col-lg-3 control-label" %>
            <div class="col-lg-8">
              <%= f.text_field :lastname, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :birthday, class: "col-lg-3 control-label" %>
            <div class="col-lg-8">
              <%= f.date_select :birthday, {:start_year => Time.now.year, :end_year => 1900} %>
            </div>
          </div>
          <br>
          
          <div class="form-group">
            <%= f.label :gender, class: "col-lg-3 control-label" %>
            <div class="col-lg-8">
              <div class="ui-select">
                <%= f.select :gender, [["Male", 1], ["Female", 2]], {}, {:class => 'form-control'}  %>
              </div>
            </div>
          </div>
          
          <div class="form-group">
            <%= f.label :tel, class: "col-lg-3 control-label" %>
            <div class="col-lg-8">
              <%= f.text_field :tel, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :skype, class: "col-lg-3 control-label" %>
            <div class="col-lg-8">
              <%= f.text_field :skype, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :facebook, class: "col-lg-3 control-label" %>
            <div class="col-lg-8">
              <%= f.text_field :facebook, class: "form-control" %>
            </div>
          </div>
          
          
          <h3>Account security</h3><hr>
          <br>
          
          <div class="form-group">
            <%= f.label :email, class: "col-lg-3 control-label" %>
            <div class="col-lg-8">
              <p>
                <strong class="control-label"><%= @user.email %></strong>
              </p>
            </div>
            <br>
          </div>
          
          <div class="form-group">
            <%= f.label :password, class: "col-lg-3 control-label" %>
            <div class="col-lg-8">
              <%= f.password_field :password, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">
             <%= f.label :password_confirmation, class:"col-lg-3 control-label" %>
              
            <div class="col-md-8">
              <%= f.password_field :password_confirmation, class: 'form-control' %>
            </div>
          </div>
          
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <%= f.submit "Save Changes", class: "btn btn-primary" %>
            </div>
          </div>
          
          
        </form>
      </div>
    </div>
  </div>
<% end %>
