<% provide(:title, @user.firstname + " " + @user.lastname ) %>

<hr>
<div class="container">
	<div class="row">
    <div class="row">
      
  		<div class="col-sm-3"><!--left col-->
              
          <ul class="list-group">
            <li class="list-group-item text-muted"><div class="text-center">
          <%= gravatar_for @user %>
          <h3><%= @user.name %></h3>
        </div></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Joined</strong></span><%= @user.created_at.strftime("%d-%b-%Y") %></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Last seen</strong></span> Yesterday</li>
            
          </ul> 
               
          <div class="panel panel-default">
            <div class="panel-heading">Activity</div>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Posts</strong></span><%= @user.posts.length %></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Comments</strong></span> 78</li>
          </div>
               
          <div class="panel panel-default">
            <div class="panel-heading">Social Media</div>
            <div class="panel-body">
               <a rel="publisher" href="<%= @user.facebook %>">
            	<i class="fa fa-facebook-square fa-3x"></i>
            	</a>
            </div>
          </div>
          
        </div><!--/col-3-->
    	<div class="col-sm-9">
          
          <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
            <% if current_user == @user %> <li><a href="#messages" data-toggle="tab">Messages</a></li> <% end %>
          </ul>
              
          <div class="tab-content">
            <div class="tab-pane active" id="home">
              <div class="table-responsive">
                <table class="table">
                  
                  <tbody id="items">
                    <tr>
                        <td><strong>Name</strong></td>
                        <td><%= @user.name %></td>
                      </tr>
                      <tr>
                        <td><strong>Birthday</strong></td>
                        <td><%= @user.birthday %></td>
                      </tr>
                      <tr>
                        <td><strong>Gender</strong></td>
                        <td><% if @user.gender == '1' %>
                              Male
                            <% else %>
                              Female
                            <% end %></td>
                      </tr>
                      <tr>
                        <td><strong>Email</strong></td>
                        <td><%= @user.email %></td>
                      </tr>
                      <tr>
                        <td><strong>Phone number</strong></td>
                        <td><%= @user.tel %></td>
                      </tr>
                      <tr>
                        <td><strong>Skype</strong></td>
                        <td><%= @user.skype %></td>
                      </tr>
                      
                  </tbody>
                </table>
                
              </div><!--/table-resp-->
              <br>
              <h4>Recent Activity</h4>
              
              <div class="table-responsive">
                <table class="table table-hover">
                  
                  <tbody>
                    <tr>
                      <td><i class="pull-right fa fa-edit"></i> Today, 1:00 - Jeff Manzi liked your post.</td>
                    </tr>
                    <tr>
                      <td><i class="pull-right fa fa-edit"></i> Today, 12:23 - Mark Friendo liked and shared your post.</td>
                    </tr>
                    <tr>
                      <td><i class="pull-right fa fa-edit"></i> Today, 12:20 - You posted a new blog entry title "Why social media is".</td>
                    </tr>
                    <tr>
                      <td><i class="pull-right fa fa-edit"></i> Yesterday - Karen P. liked your post.</td>
                    </tr>
                    <tr>
                      <td><i class="pull-right fa fa-edit"></i> 2 Days Ago - Philip W. liked your post.</td>
                    </tr>
                    <tr>
                      <td><i class="pull-right fa fa-edit"></i> 2 Days Ago - Jeff Manzi liked your post.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              
             </div><!--/tab-pane-->
             <div class="tab-pane" id="messages">
               
               <h2></h2>
               
               <ul class="list-group">
                  <li class="list-group-item text-muted">Inbox</li>
                  <li class="list-group-item text-right"><a href="#" class="pull-left">Here is your a link to the latest summary report from the..</a> 2.13.2014</li>
                  <li class="list-group-item text-right"><a href="#" class="pull-left">Hi Joe, There has been a request on your account since that was..</a> 2.11.2014</li>
                  <li class="list-group-item text-right"><a href="#" class="pull-left">Nullam sapien massaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
                  <li class="list-group-item text-right"><a href="#" class="pull-left">Thllam sapien massaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
                  <li class="list-group-item text-right"><a href="#" class="pull-left">Wesm sapien massaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
                  <li class="list-group-item text-right"><a href="#" class="pull-left">For therepien massaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
                  <li class="list-group-item text-right"><a href="#" class="pull-left">Also we, havesapien massaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
                  <li class="list-group-item text-right"><a href="#" class="pull-left">Swedish chef is assaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
                  
                </ul> 
               
             </div><!--/tab-pane-->
            
          </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->