<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.cktext_area :description %>
  </div>
  <div class="field">
    Upload your sample images (Ctrl or Shift select to upload multiple images)<br>
    <%= f.file_field :imgs, multiple: true %>
  </div>
  <div class="field">
    <%= f.label :having_tag_id %><br>
    <%= f.collection_select :having_tag_id, Tag.all, :id, :title %>
  </div>
  <div class="field">
    <%= f.label :want_tag_id %><br>
    <%= f.collection_select :want_tag_id, Tag.all, :id, :title %>
  </div>
  <div class="actions">
    <%= f.submit 'Create new trade', :class => 'btn btn-primary' %>
  </div>
<% end %>
