<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, :class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.cktext_area :description %>
  </div>
  <div class="field">
    Upload your sample images (Ctrl or Shift select to upload multiple images)<br>
    <%= f.file_field :imgs, multiple: true %>
  </div>
  <div class="field">
    Your property's kind of object (described in tags)<br>
    <%= f.text_field :tag_have, :class => 'tags' %>
  </div>
  <div class="field">
    Your expectation's kind of object (described in tags)<br>
    <%= f.text_field :tag_want, :class => 'tags' %>
    <script type="text/javascript">
      $('.tags').tagsInput(); 
    </script>
  </div>
  <div class="actions"><br>
    <%= f.submit 'Create new trade', :class => 'btn btn-primary' %>
  </div>
<% end %>
