<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.collection_select :user_id, User.all, :id, :username %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :images %><br>
    <%= f.text_field :images %>
  </div>
  <div class="field">
    <%= f.label :date_modified %><br>
    <%= f.date_select :date_modified %>
  </div>
  <div class="field">
    <%= f.label :post_status %><br>
    <%= f.check_box :post_status %>
  </div>
  <div class="field">
    <%= f.label :having_tag_id %><br>
    <%= f.collection_select :having_tag_id, Tag.all, :id, :title %>
  </div>
  <div class="field">
    <%= f.label :want_tag_id %><br>
    <%= f.collection_select :want_tag_id, Tag.all, :id, :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
