<% get_tag_have(post) %>
<% get_tag_want(post) %>
<tr>
  <td>
    <strong>Title:</strong>
    <%=post.title %>
  </td>
</tr>
<tr>
  <td>
    <strong>Description:</strong>
    <%=raw post.description %>
  </td>
</tr>
<tr>
  <td>
    <strong>Tag:</strong>
      <% @current_tag_have.each do |tag| %>
        <%= tag.title %>
      <% end %>
  </td>
</tr>
<tr>
  <td>
    <strong>Want:</strong>
      <% @current_tag_want.each do |tag| %>
        <%= tag.title %>
      <% end %>
  </td>
</tr>
<tr>
  <td>
    <table>
      <tr>
        <td>
          <%=link_to 'Show', post %> 
        </td>
        <td>
          <%=link_to 'Edit', edit_post_path(post) %> 
        </td>
        <td>
          <%=link_to 'Remove', post, method: :delete, data: { confirm: 'Are you sure?' } %> 
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr><td><hr></td></tr>