<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>

<table>

  <tbody>
    <% if @posts.present? %>
		  <% @posts.each do |post| %>
        <tr>
          <td><%= post.user_id %></td>
          <td><%= post.title %></td>
          <td><%= post.description %></td>
          <td><%= post.images %></td>
          <td><%= post.date_modified %></td>
          <td><%= post.post_status %></td>
          <td><%= post.having_tag_id %></td>
          <td><%= link_to 'Show', post %></td>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
		<% else %>
		  <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
		<% end %>
    
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
