<p id="notice"><%= notice %></p>
<% if flash[:success] %>
  <div class="alert alert-success"><%= flash[:success] %></div>
<% end %>
<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= raw @post.description %>
</p>

<p>
  <strong>Images:</strong>
  <ul>
  <% @post.imgs.each do |img| %>
    <li><%= image_tag URI.join(root_url, img.url.gsub('%5B%22', '').gsub('%22%5D', '')) %></li>
  <% end %>
  </ul>
</p>

<p>
  <strong>Post status:</strong>
  <%= @post.post_status %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
