 <%= stylesheet_link_tag 'show-post', media: 'all', 'data-turbolinks-track' => true %>
<p id="notice"><%= notice %></p>
<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= raw @post.description %>
</p>

<p>
  <strong>Images:</strong>
  <ul>
  <% @post_attachments.each do |img| %>
    <li><%= image_tag img.avatar_url %></li>
  <% end %>
  </ul>
</p>

<p>
  <strong>Tag đồ vật muốn đổi đi:</strong>
  <ul>
    <% @current_tag_have.each do |tag| %>
    <li><%= tag.title %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Tag đồ vật muốn nhận lại:</strong>
  <ul>
    <% @current_tag_want.each do |tag| %>
    <li><%= tag.title %></li>
    <% end %>
  </ul>
</p>

<strong>Các bài trả lời cho bài đăng:</strong>
<% @replies.each do |reply| %>
	<div class="highlight" style="border-size:2px;border-style:solid;border-color:black">
		<h2 style="margin:left"><%= reply.user.firstname + " " + reply.user.lastname %></h2>
		<h3><%= reply.created_at %></h3>
		<p><%= raw reply.content %></p>
	</div>
<% end %>

<% if @post.post_status == true %>
<%= form_for(@post, :html => { :multipart => true }) do |f| %>
	<div class="field">
		<p>Đăng lên trả lời của bạn</p>
		<%= f.fields_for :reply do |p| %>
			<div class="field">
				<%= p.cktext_area :content %>
			</div>
		<% end %>
	</div><br>
	<div class="action">
		<%= f.submit 'Post reply', :class => 'btn btn-primary pull-right' %>
	</div>
<% end %>
<% end %>

<br>
<% if current_user.id == @post.user_id && @post.post_status == true %>
<%= link_to 'Close Post', {:action => :close}, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
<% end %>
<%= link_to 'Edit', edit_post_path(@post), :class => 'btn btn-primary' %>
<%= link_to 'Back', posts_path, :class => 'btn btn-warning' %>
<!--
<div class="container-fluid">
    <div class="content-wrapper">	
		<div class="item-container">	
		<div class="product-title"><%= gravatar_for @post.user, size: 50 %>
          													 <%= link_to @post.user.name, @post.user %></div>
          													 <hr>
			<div class="container">	
				<div class="col-md-12">
					<div class="product col-md-5 service-image-left">
                    
						<center>
							<% @post.post_attachments.all.each do |img| %>
					        <%= image_tag(img.avatar_url) %>
					    <% end %>
						</center>
					</div>
					
					<div class="col-md-7">
					
          													 
					<div class="product-title"><%= @post.title %></div>
					<div class="product-desc"><%= raw @post.description %></div>
					<div class="product-rating"><i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star-o"></i> </div>
					<hr>
					<div class="product-price"><strong>Tag:</strong>
					    <% @current_tag_have.each do |tag| %>
					    <%= tag.title %>
					    <% end %>
					</div>
					<div class="product-price"><strong>Want:</strong>
					    <% @current_tag_want.each do |tag| %>
					    <%= tag.title %>
					    <% end %>
					</div>
  				<hr>
  				<% if @post.post_status %>
					 <div class="product-open">Open</div>
					<% else %>
					 <div class="product-close">Closed</div>
					<% end %>
					
					<hr>
					<div class="col-md-7">
					</div>
					<div class="col-md-5">
					
						<div class="btn-group cart">
							<%= link_to 'Edit content', edit_post_path(@post), class:"btn btn-success" %>
						</div>
						<div class="btn-group wishlist">
							<%= link_to 'Close offer', {:action => :close}, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
						</div>
					
					</div>
				</div>
				</div>
					
				
			</div> 
		</div>
		<div class="container-fluid">		
			<div class="col-md-12 product-info">
					<ul id="myTab" class="nav nav-tabs nav_tabs">
						
						<li class="active"><a href="#service-one" data-toggle="tab">REVIEWS</a></li>
						<li><a href="#service-two" data-toggle="tab">PRODUCT INFO</a></li>
						<li><a href="#service-three" data-toggle="tab">DESCRIPTION</a></li>
						
					</ul>
				<div id="myTabContent" class="tab-content">
						<div class="tab-pane fade in active" id="service-one">
						 
							<section class="container product-info">
								
								<strong>Các bài trả lời cho bài đăng:</strong>
								<% @replies.each do |reply| %>
									<div class="highlight">
										<p><%= reply.user.firstname + " " + reply.user.lastname %></p>
										<p><%= reply.created_at %></p>
										<p><%= reply.content %></p>
									</div>
								<% end %>
								
								<%= form_for(@post, :html => { :multipart => true }) do |f| %>
									<div class="field">
										<p>Đăng lên trả lời của bạn</p>
										<%= f.fields_for :reply do |p| %>
											<div class="field">
												<%= p.cktext_area :content %>
											</div>
										<% end %>
									</div><br>
									<div class="action">
										<%= f.submit 'Post reply', :class => 'btn btn-primary pull-right' %>
									</div>
								<% end %>

								
							</section>
										  
						</div>
					<div class="tab-pane fade" id="service-two">
						
						<section class="container">
								
						</section>
						
					</div>
					<div class="tab-pane fade" id="service-three">
												
					</div>
				</div>
				<hr>
			</div>
		</div>
	</div>
</div>

