<p id="notice"><%= notice %></p>
<% if flash[:success] %>
  <div class="alert alert-success"><%= flash[:success] %></div>
<% end %>
<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= raw @post.description %>
</p>

<p>
  <strong>Images:</strong>
  <ul>
  <% @post_attachments.each do |img| %>
    <li><%= image_tag img.avatar_url %></li>
  <% end %>
  </ul>
</p>

<p>
  <strong>Tag đồ vật muốn đổi đi:</strong>
  <ul>
    <% @current_tag_have.each do |tag| %>
    <li><%= tag.title %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Tag đồ vật muốn nhận lại:</strong>
  <ul>
    <% @current_tag_want.each do |tag| %>
    <li><%= tag.title %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Post status:</strong>
  <%= @post.post_status %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
